<ul id="customers">
  <li v-repeat='items' class='item-{&#123;index&#125;}'>
    {&#123;$index&#125;} - {&#123;parentMsg&#125;} {&#123;childMsg&#125;}
  </li>
</ul>


<script>
  var demo = new Vue({
      el: '#customers',
      data: {
          parentMsg: 'Hello',
          items: [
              { childMsg: 'Foo' },
              { childMsg: 'Bar' }
          ]
      }
  })
</script>